body{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    height: 100vh;
}
.container{
    width: 607px;
    height: 829px;
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    margin: auto;
    margin-top: 75px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 60px;
}

.top-bar input{
    width: 58%;
    display: flex;
    justify-content: center;
    border: none;
    height: 73px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    padding-left: 40px;
    
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.in_b{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.weather-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.weather-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    font-weight: bolder;
    margin-left: 10px;
}

.weather-location{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 130px;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.humidity-precent ,.wind-speed {
    font-size:40px;
    font-weight: bolder;
    color: white;
}
.text{
    font-size: 20px;
    color: white;

}
.icon{
    margin-bottom: 13px;
}